body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    background: radial-gradient(circle at bottom, navy 0, black 100%);
    height: 100vh;
    overflow: hidden;
  }


  a {
    position: fixed; 
    z-index: 1;
    padding: 15px 30px;
    background-color: #000814;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-size: 20px;
    transition: background-color 0.3s;
}

  a:hover {
    background-color: #1b1e21;
  }

  #mute-button {
    position: fixed;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: white;
    z-index: 1000;
  }

  .stars {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    transform: rotate(-45deg);
  }
  
  .star {
    --star-color: #fdfffc;
    --star-tail-length: 6em;
    --star-tail-height: 2px;
    --star-width: calc(var(--star-tail-length) / 6);
    --fall-duration: 9s;
    --tail-fade-duration: var(--fall-duration);
    position: absolute;
    top: var(--top-offset);
    left: 0;
    width: var(--star-tail-length);
    height: var(--star-tail-height);
    color: var(--star-color);
    background: linear-gradient(45deg, currentColor, transparent);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px currentColor);
    transform: translate3d(104em, 0, 0);
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
  }
  @media screen and (max-width: 750px) {
    .star {
      animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
    }
  }
  .star:nth-child(1) {
    --star-tail-length: 5.48em;
    --top-offset: 80.35vh;
    --fall-duration: 8.979s;
    --fall-delay: 3.168s;
  }
  .star:nth-child(2) {
    --star-tail-length: 7.36em;
    --top-offset: 3.52vh;
    --fall-duration: 10.211s;
    --fall-delay: 4.458s;
  }
  .star:nth-child(3) {
    --star-tail-length: 6.25em;
    --top-offset: 48.16vh;
    --fall-duration: 8.328s;
    --fall-delay: 7.452s;
  }
  .star:nth-child(4) {
    --star-tail-length: 7.12em;
    --top-offset: 21.19vh;
    --fall-duration: 8.176s;
    --fall-delay: 5.473s;
  }
  .star:nth-child(5) {
    --star-tail-length: 5.77em;
    --top-offset: 24.57vh;
    --fall-duration: 8.724s;
    --fall-delay: 8.272s;
  }
  .star:nth-child(6) {
    --star-tail-length: 6.4em;
    --top-offset: 57.62vh;
    --fall-duration: 6.68s;
    --fall-delay: 2.374s;
  }
  .star:nth-child(7) {
    --star-tail-length: 7.03em;
    --top-offset: 72.48vh;
    --fall-duration: 8.932s;
    --fall-delay: 8.153s;
  }
  .star:nth-child(8) {
    --star-tail-length: 7.01em;
    --top-offset: 2.47vh;
    --fall-duration: 8.899s;
    --fall-delay: 6.061s;
  }
  .star:nth-child(9) {
    --star-tail-length: 6.39em;
    --top-offset: 82.25vh;
    --fall-duration: 7.173s;
    --fall-delay: 2.915s;
  }
  .star:nth-child(10) {
    --star-tail-length: 5.23em;
    --top-offset: 31.88vh;
    --fall-duration: 9.578s;
    --fall-delay: 6.592s;
  }
  .star:nth-child(11) {
    --star-tail-length: 7.24em;
    --top-offset: 67.87vh;
    --fall-duration: 8.313s;
    --fall-delay: 6.558s;
  }
  .star:nth-child(12) {
    --star-tail-length: 6.7em;
    --top-offset: 50.51vh;
    --fall-duration: 9.873s;
    --fall-delay: 0.179s;
  }
  .star:nth-child(13) {
    --star-tail-length: 6.13em;
    --top-offset: 75.91vh;
    --fall-duration: 9.934s;
    --fall-delay: 6.291s;
  }
  .star:nth-child(14) {
    --star-tail-length: 6.79em;
    --top-offset: 40.3vh;
    --fall-duration: 11.553s;
    --fall-delay: 4.036s;
  }
  .star:nth-child(15) {
    --star-tail-length: 5.64em;
    --top-offset: 84.23vh;
    --fall-duration: 7.569s;
    --fall-delay: 0.171s;
  }
  .star:nth-child(16) {
    --star-tail-length: 7.37em;
    --top-offset: 55.74vh;
    --fall-duration: 9.82s;
    --fall-delay: 5.049s;
  }
  .star:nth-child(17) {
    --star-tail-length: 5.82em;
    --top-offset: 9.98vh;
    --fall-duration: 7.84s;
    --fall-delay: 7.664s;
  }
  .star:nth-child(18) {
    --star-tail-length: 6.08em;
    --top-offset: 96.72vh;
    --fall-duration: 11.595s;
    --fall-delay: 1.632s;
  }
  .star:nth-child(19) {
    --star-tail-length: 5.32em;
    --top-offset: 52.83vh;
    --fall-duration: 9.201s;
    --fall-delay: 4.723s;
  }
  .star:nth-child(20) {
    --star-tail-length: 6.37em;
    --top-offset: 54.73vh;
    --fall-duration: 11.4s;
    --fall-delay: 8.181s;
  }
  .star:nth-child(21) {
    --star-tail-length: 6.18em;
    --top-offset: 31.97vh;
    --fall-duration: 6.892s;
    --fall-delay: 0.132s;
  }
  .star:nth-child(22) {
    --star-tail-length: 7.14em;
    --top-offset: 47.47vh;
    --fall-duration: 7.172s;
    --fall-delay: 2.095s;
  }
  .star:nth-child(23) {
    --star-tail-length: 7.43em;
    --top-offset: 86.6vh;
    --fall-duration: 9.567s;
    --fall-delay: 1.551s;
  }
  .star:nth-child(24) {
    --star-tail-length: 6.61em;
    --top-offset: 41.85vh;
    --fall-duration: 6.238s;
    --fall-delay: 1.946s;
  }
  .star:nth-child(25) {
    --star-tail-length: 7.28em;
    --top-offset: 34.44vh;
    --fall-duration: 6.231s;
    --fall-delay: 6.23s;
  }
  .star:nth-child(26) {
    --star-tail-length: 5.08em;
    --top-offset: 24.22vh;
    --fall-duration: 9.288s;
    --fall-delay: 4.262s;
  }
  .star:nth-child(27) {
    --star-tail-length: 5.79em;
    --top-offset: 77.86vh;
    --fall-duration: 8.782s;
    --fall-delay: 9.926s;
  }
  .star:nth-child(28) {
    --star-tail-length: 6.5em;
    --top-offset: 10.01vh;
    --fall-duration: 11.001s;
    --fall-delay: 1.742s;
  }
  .star:nth-child(29) {
    --star-tail-length: 7.28em;
    --top-offset: 26.97vh;
    --fall-duration: 9.271s;
    --fall-delay: 5.201s;
  }
  .star:nth-child(30) {
    --star-tail-length: 7.17em;
    --top-offset: 22.25vh;
    --fall-duration: 11.73s;
    --fall-delay: 2.798s;
  }
  .star:nth-child(31) {
    --star-tail-length: 6.91em;
    --top-offset: 35.47vh;
    --fall-duration: 7.835s;
    --fall-delay: 0.737s;
  }
  .star:nth-child(32) {
    --star-tail-length: 6.33em;
    --top-offset: 18.53vh;
    --fall-duration: 7.049s;
    --fall-delay: 6.463s;
  }
  .star:nth-child(33) {
    --star-tail-length: 5.67em;
    --top-offset: 80.78vh;
    --fall-duration: 9.067s;
    --fall-delay: 1.102s;
  }
  .star:nth-child(34) {
    --star-tail-length: 5.73em;
    --top-offset: 68.09vh;
    --fall-duration: 10.426s;
    --fall-delay: 0.694s;
  }
  .star:nth-child(35) {
    --star-tail-length: 6.28em;
    --top-offset: 12.05vh;
    --fall-duration: 9.873s;
    --fall-delay: 9.861s;
  }
  .star:nth-child(36) {
    --star-tail-length: 6.2em;
    --top-offset: 51.09vh;
    --fall-duration: 6.668s;
    --fall-delay: 5.291s;
  }
  .star:nth-child(37) {
    --star-tail-length: 6.79em;
    --top-offset: 54.82vh;
    --fall-duration: 8.981s;
    --fall-delay: 2.393s;
  }
  .star:nth-child(38) {
    --star-tail-length: 7.13em;
    --top-offset: 96.01vh;
    --fall-duration: 11.091s;
    --fall-delay: 4.671s;
  }
  .star:nth-child(39) {
    --star-tail-length: 5.73em;
    --top-offset: 48.88vh;
    --fall-duration: 9.741s;
    --fall-delay: 0.578s;
  }
  .star:nth-child(40) {
    --star-tail-length: 5.56em;
    --top-offset: 14.61vh;
    --fall-duration: 10.588s;
    --fall-delay: 3.29s;
  }
  .star:nth-child(41) {
    --star-tail-length: 6.67em;
    --top-offset: 82.15vh;
    --fall-duration: 7.567s;
    --fall-delay: 0.239s;
  }
  .star:nth-child(42) {
    --star-tail-length: 6.24em;
    --top-offset: 92.99vh;
    --fall-duration: 8.988s;
    --fall-delay: 6.216s;
  }
  .star:nth-child(43) {
    --star-tail-length: 5.26em;
    --top-offset: 93.27vh;
    --fall-duration: 7.49s;
    --fall-delay: 7.3s;
  }
  .star:nth-child(44) {
    --star-tail-length: 5.69em;
    --top-offset: 87.4vh;
    --fall-duration: 6.892s;
    --fall-delay: 8.998s;
  }
  .star:nth-child(45) {
    --star-tail-length: 6.41em;
    --top-offset: 54.59vh;
    --fall-duration: 11.818s;
    --fall-delay: 4.875s;
  }
  .star:nth-child(46) {
    --star-tail-length: 5.88em;
    --top-offset: 87.48vh;
    --fall-duration: 6.483s;
    --fall-delay: 1.825s;
  }
  .star:nth-child(47) {
    --star-tail-length: 5.67em;
    --top-offset: 94.76vh;
    --fall-duration: 7.992s;
    --fall-delay: 0.649s;
  }
  .star:nth-child(48) {
    --star-tail-length: 6.53em;
    --top-offset: 28.81vh;
    --fall-duration: 7.708s;
    --fall-delay: 3.54s;
  }
  .star:nth-child(49) {
    --star-tail-length: 6.34em;
    --top-offset: 53.22vh;
    --fall-duration: 6.905s;
    --fall-delay: 6.935s;
  }
  .star:nth-child(50) {
    --star-tail-length: 5.08em;
    --top-offset: 14.97vh;
    --fall-duration: 6.22s;
    --fall-delay: 0.61s;
  }
  .star::before, .star::after {
    position: absolute;
    content: "";
    top: 0;
    left: calc(var(--star-width) / -2);
    width: var(--star-width);
    height: 100%;
    background: linear-gradient(45deg, transparent, currentColor, transparent);
    border-radius: inherit;
    animation: blink 2s linear infinite;
  }
  .star::before {
    transform: rotate(45deg);
  }
  .star::after {
    transform: rotate(-45deg);
  }
  
  @keyframes fall {
    to {
      transform: translate3d(-30em, 0, 0);
    }
  }
  @keyframes tail-fade {
    0%, 50% {
      width: var(--star-tail-length);
      opacity: 1;
    }
    70%, 80% {
      width: 0;
      opacity: 0.4;
    }
    100% {
      width: 0;
      opacity: 0;
    }
  }
  @keyframes blink {
    50% {
      opacity: 0.6;
    }
  }
  

a:hover ~ .stars .star {
    --fall-duration: 1.5s; 
}
